{% include "header.html" %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Lights</h1>
</div>


<div class="container">
    <div class="card-deck mb-3 text-center">


        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h5 class="card-title">Add new light</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'index'%}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text w-25"
                              id="lamp_name">Lamp name</span>
                        <input type="text" class="form-control" name="name" aria-label="Lampname" aria-describedby="lamp_name" required>
                    </div>
                    <a href="{% url 'index'%}" class="btn btn-lg btn-block btn-outline-secondary mb-3" role="button">Back</a>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary mb-3">Save
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
{% include "footer.html" %}
