<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Martin Kribs, Alexander Guse">
    <title>Home Control</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
{% include "header.html" %}


<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Lights</h1>
</div>


<div class="container">


    <div class="card mb-4 box-shadow text-center">
        <div class="card-header">
            <h5 class="card-title">{{ light.name }}</h5>
        </div>
        <div class="card-body">
            <form action="/lights/{{ light.id }}/" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <input class="form-check-input" type="checkbox" role="switch" id="status_{{ forloop.counter }}"
                            {% if light.status %} checked{% endif %}>
                    <label class="form-check-label" for="status_{{ forloop.counter }}">Off/On</label>
                    {{ form.status }}
                </div>
                <div class="mb-4">
                    <input type="color" class="form-control form-control-color mx-auto"
                           id="colour_{{ forloop.counter }}"
                           value="{{ light.colour }}">
                    <label class="form-check-label" for="colour_{{ forloop.counter }}">Colour</label>
                    {{ form.colour }}
                </div>
                <div class="mb-4">
                    <input type="range" class="form-range" min="0" max="100" step="10"
                           id="brightness_{{ forloop.counter }}"
                           value="{{ light.brightness }}">
                    <label class="form-check-label" for="brightness_{{ forloop.counter }}">Brightness</label>
                    {{ form.brightness }}
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Save
                </button>
            </form>
        </div>
    </div>


    {% include "footer.html" %}
</div>


<!-- /.container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>