{% include "header.html" %}


<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Lights</h1>
</div>

<div class="container">


    <div class="card mb-4 box-shadow text-center">
        <div class="card-header">
            <h5 class="card-title">{{ light.name }}</h5>
        </div>
        <div class="card-body">
            <form action="/lights/{{ light.id }}/" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <input class="form-check-input" type="checkbox" name="status" role="switch" id="status"
                            {% if light.status %} checked{% endif %}>
                    <label class="form-check-label" for="status">Off/On</label>
                </div>
                <div class="mb-4">
                    <input type="color" class="form-control form-control-color mx-auto"
                           id="colour"
                           value="{{ light.colour }}"
                           name="colour">
                    <label class="form-check-label" for="colour">Colour</label>

                </div>
                <div class="mb-4">
                    <input type="range" class="form-range" min="0" max="100" step="10"
                           id="brightness"
                           value="{{ light.brightness }}"
                           name="brightness">
                    <label class="form-check-label" for="brightness">Brightness</label>

                </div>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Save
                </button>
            </form>
        </div>
    </div>
</div>
{% include "footer.html" %}
