{% include "header.html" %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Lights</h1>
</div>


<div class="container text-center">
    <div class="row row-cols-2 gx-5">

        {% for light in latest_light_list %}
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">{{ light.name }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <input class="form-check-input" type="checkbox" role="switch" id="status_{{ forloop.counter }}"
                                   disabled {% if light.status %} checked{% endif %}>
                            <label class="form-check-label" for="status_{{ forloop.counter }}">{% if light.status %} On {% else %}
                                Off {% endif %}</label>
                        </div>
                        <div class="mb-4">
                            <input type="color" class="form-control form-control-color mx-auto" id="colour_{{ forloop.counter }}"
                                   value="{{ light.colour }}" disabled>
                            <label class="form-check-label" for="colour_{{ forloop.counter }}">Colour</label>
                        </div>
                        <div class="mb-4">
                            <input type="range" class="form-range" min="0" max="100" step="10" id="brightness_{{ forloop.counter }}"
                                   value="{{ light.brightness }}" disabled>
                            <label class="form-check-label" for="brightness_{{ forloop.counter }}">Brightness</label>
                        </div>

                        <a href="{% url 'detailLight' light.id %}" class="btn btn-outline-primary btn-lg btn-block">Edit</a>
                    </div>
                    <div class="card-footer text-muted">
                        <form action="{% url 'deleteLight' light.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn mx-auto link-danger btn-link">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col">
            <div class="card mb-4">
                <a href="{% url 'addLight' %}" class="my-auto stretched-link nav-link text-dark"><h3>+</h3></a>
            </div>
        </div>

    </div>
</div>
{% include "footer.html" %}