{% include "header.html" %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">HomeControl</h1>
</div>


<div class="container">
    <div class="card-deck mb-3 text-center">


        <div class="card mb-4 box-shadow text-bg-light" style="width: 70%; margin-left: auto; margin-right: auto;">
            <div class="card-header">
                <h5 class="card-title">Reset Password</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'passwordRecovery' userid token %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text w-25" id="new_password1">New
                            Password</span>
                        <input type="password" class="form-control" name="new_password1" aria-label="NewPassword1"
                            aria-describedby="new_password1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text w-25" id="new_password2">Repeat
                            Password</span>
                        <input type="password" class="form-control" name="new_password2" aria-label="NewPassword2"
                            aria-describedby="new_password2" required>
                    </div>
                    <a href="{% url 'login'%}" class="btn btn-lg btn-block btn-outline-secondary mb-3"
                        role="button">Back</a>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary mb-3">Save
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>

{% include "footer.html" %}