{% include "header.html" %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Account</h1>
</div>


<div class="container">
    <div class="card-deck mb-3 text-center">


        <div class="card mb-4 box-shadow" style="width: 40rem; margin-left: auto; margin-right: auto;">
            <div class="card-header">
                <h5 class="card-title">User</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'manageAccount'%}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text" id="username">Username</span>
                        <input type="text" class="form-control" name="username" aria-label="Username"
                            aria-describedby="username" value="{{ account.username }}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text" id="password">Password</span>
                        <input type="password" class="form-control" name="password" aria-label="Password"
                            aria-describedby="password" value="{{ account.password }}" disabled>
                    </div>
                    <a href="{% url 'index'%}" class="btn btn-lg btn-block btn-outline-secondary mb-3" role="button">Back</a>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary mb-3">Save
                    </button>
                    <a href="{% url 'index'%}" class="btn btn-lg btn-block btn-outline-secondary mb-3" role="button">Change Password</a>
                </form>
                <p><a href="" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Delete Account</a></p>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Account Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}