{% include "header.html" %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">HomeControl</h1>
</div>


<div class="container">
    <div class="card-deck mb-3 text-center">


        <div class="card mb-4 box-shadow text-bg-light" style="width: 70%; margin-left: auto; margin-right: auto;">
            <div class="card-header">
                <h5 class="card-title">Login</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'login'%}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="d-flex justify-content-center input-group-text w-25"
                              id="username">Username</span>
                        <input type="text" class="form-control" name="username" aria-label="Username" aria-describedby="username" required>
                    </div>
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="d-flex justify-content-center input-group-text w-25"
                              id="username">Password</span>
                        <input type="password" class="form-control" name="password" aria-label="Password" aria-describedby="password" required>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-primary mb-3">Login
                    </button>
                    <a href="{% url 'register'%}" class="btn btn-outline-secondary btn-lg btn-block mb-3">Register</a>
                </form>
                <form action="{% url 'resetMail' %}" method="get">
                    <button type="submit" class="btn mx-auto link-primary btn-link">Forgot Password?</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% include "footer.html" %}