{% include "header.html" %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">HomeControl</h1>
</div>


<div class="container">
    <div class="card-deck mb-3 text-center">


        <div class="card mb-4 box-shadow" style="width: 40rem; margin-left: auto; margin-right: auto;">
            <div class="card-header">
                <h5 class="card-title">Register</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'register'%}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text w-25"
                              id="username">Username</span>
                        <input type="text" class="form-control" name="username" aria-label="Username" aria-describedby="username">
                    </div>
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text w-25"
                              id="email">Email</span>
                        <input type="email" class="form-control" name="email" aria-label="Email" aria-describedby="email">
                    </div>
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text w-25"
                              id="password1">Password</span>
                        <input type="password" class="form-control" name="password1" aria-label="Password1" aria-describedby="password1">
                    </div>
                    <div class="input-group mb-3">
                        <span for="{{ form.name.id_for_label }}" class="input-group-text w-25"
                              id="password2">Repeat Password</span>
                        <input type="password" class="form-control" name="password2" aria-label="Password2" aria-describedby="password2">
                    </div>
                    <a href="{% url 'index'%}" class="btn btn-lg btn-block btn-outline-secondary mb-3" role="button">Back</a>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary mb-3">Register
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>

{% if form.errors %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

{% include "footer.html" %}