{% include "header.html" %}


<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Broker</h1>
</div>

<div class="container">


    <div class="card mb-4 box-shadow text-center">
        <div class="card-header">
            <h5 class="card-title">Settings</h5>
        </div>
        <div class="card-body">
            <form action="/lights/{{ light.id }}/" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span for="{{ form.name.id_for_label }}" class="input-group-text"
                          id="username">Username</span>
                    <input type="text" class="form-control" name="username" aria-label="Username" aria-describedby="username">
                </div>
                <div class="input-group mb-3">
                    <span for="{{ form.name.id_for_label }}" class="input-group-text"
                          id="username">Password</span>
                    <input type="password" class="form-control" name="password" aria-label="Password" aria-describedby="password">
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary mb-3">Save
                </button>
            </form>
        </div>
    </div>
</div>
{% include "footer.html" %}
